<div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron hero-section">
                 <div class="row">
                    <div class="col-xs-1 col-md-1 hero-item" style="width: 19.9999992%">
                            <img src="assets/img/breaking-bad.jpg" class="img img-responsive" alt="Breaking Bad">
                    </div>
                    <div class="col-xs-1 col-md-1 hero-item" style="width: 19.9999992%">
                            <img src="assets/img/game-of-thrones.jpg" class="img img-responsive" alt="Game of Thrones">
                    </div>
                    <div class="col-xs-1 col-md-1 hero-item" style="width: 19.9999992%">
                            <img src="assets/img/sherlock.jpg" class="img img-responsive" alt="Sherlock">
                    </div>
                    <div class="col-xs-1 col-md-1 hero-item" style="width: 19.9999992%">
                            <img src="assets/img/stranger-things.jpg" class="img img-responsive" alt="Stranger Things">
                    </div>
                    <div class="col-xs-1 col-md-1 hero-item" style="width: 19.9999992%">
                            <img src="assets/img/westworld.jpg" class="img img-responsive" alt="Westorld">
                    </div>    
                </div>
            </div>
        </div>
</div>