<div class="row">
        <div class="col-md-10 col-md-offset-1">
            <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                        <img alt="Home" src=""></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/discover">Sorozat Ajánló</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" (submit) = "onSubmitSearch()">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)] = "showname" name= "showname" placeholder="Sorozat neve...">
                        </div>
                            <button type="submit" class="btn btn-primary">Keresés</button>
                    </form>                   
                    <ul class="nav navbar-form navbar-right">
                        <li class= 'form-group'><button class="btn btn-info scrollToContact">Lépj kapcsolatba velem</button></li>
                    </ul>
            </nav>
        </div>
</div>