<h3 class="text-center">
   Ennek az oldalnak a célja és megalkotásának oka az, hogy friss és megtekintésre alkamas sorozatokat ajánljon.</h3>
 <div class="well"> 
  <div class="row">
   <div class="col-md-5 col-md-offset-2">
     <p class="lead text-justify">
      <strong> Ha részeltesebb infókat, leírást, elemzést szeretnél olvasni egyes sorozatokról, akkor ajánlom az alábbi oldal rendszeres látogatását.</strong></p>
    </div> 
        <div class="col-md-5">
         <a href="https://www.sorozatjunkie.hu/" target="_blank"><img class="img img-responsive img-thumbnail" alt="Sorozat Junkie" src="assets/img/junkie.png"></a>
          <hr class="orange">
        </div>
         <div class="col-md-6 col-md-offset-1">
          <hr class="blue">
           <a href="http://www.feliratok.info/" target="_blank"><img class="img img-responsive img-thumbnail" alt="Feliratok.info" src='assets/img/sub.png'></a>                    
         </div>
          <div class="col-md-4">
           <p class="lead text-justify">
            <strong>Jó minőségű feliratokat nemcsak sorozatokhoz, de filmekhez is angolul/magyarul a képen látható helyen lehet elérni.</strong> </p>
          </div>   
   </div>  
  </div>  
	<p class="bg-primary text-center">Az oldal teljesen automatikusan működik, az adatokat külső API-ok segítségvel dolgozom fel és íratom ki az oldalra, valamint a sorozatok az adatbázisban bizonyos időközönként frissülnek.</p>