<app-hero-section></app-hero-section>
<app-navbar></app-navbar>

 <div class="row">
     <div class="col-md-2 col-md-offset-0 col-xs-10 col-xs-offset-1">
       <app-recent></app-recent>
     </div>
     <div class="col-md-8 col-md-offset-0  col-xs-10 col-xs-offset-1">
        <router-outlet></router-outlet>
     </div>
     <div class="col-md-2 col-md-offset-0  col-xs-10 col-xs-offset-1">
        <app-alltime></app-alltime>
     </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <app-email></app-email>
    </div>
</div>